.campos {
  font-size: 1.25rem;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #317E7A;
  background-color: #D8D8D8;
}

.campos:focus {
  outline: none;
}

.buttonAdd {
  background-color: black;
  color: white;
  padding: 10px 85px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.buttonAdd:hover {
  background-color: darkgreen;
}
